
.hero {
  background: url('new_year.jpg') no-repeat center center/cover;
  height: 77.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero-content {
  background: rgba(205, 228, 70, 0.5);
  padding: 30px;
  border-radius: 10px;
  max-width: 800px;
}

.hero h1 {
  font-size: 2.5rem;
  color: rgb(37, 142, 18);
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: white;
}

.hero-btns .btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background: yellow;
  color: green;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  
}

.hero-btns .btn:hover {
  background: white;
  color: green;
}


.footer {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 10px 5px;
  width: 100vw;
  box-sizing: border-box;
   margin-left: calc(-50vw + 50%);
}

.footer-content p {
  margin: 5px 0;
  font-size: 0.9rem;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdfdf6;
}
/*Location Site*/

.header {
    background-color: #FFD700;
    padding: 2rem;
    text-align: center;
    color: black;
   
}

.content {
    padding: 2rem;
    height: 77.5vh;
}

.content h3 {
    color: #228B22;
}

